<style type="text/css">
	.list{
		height: auto;
		border: 3px solid black;
		border-radius: 15px;
	}
	.line{
		border: 1px dotted black;
		height: 1px;
		width: 100%;
	}
</style>
<div class='row'>
	<div class="col-md-6 col-md-offset-3">
		<div class='list'>
			<h4>Travel</h4>
			<a href="/discussions/catagories/travel">View All Discussions on Travel</a>
		</div>
		<div class="line"></div>
		<div class='list'>
			<h4>Sports</h4>
			<a href="/discussions/categories/sports">View All Discussions on Sports</a> 
		</div>
		<div class="line"></div>
		<div class='list'>
			<h4>Politics</h4>
			<a href="/discussions/categories/politics">View All Discussions on Politics</a>
		</div>
		<div class="line"></div>
		<div class='list'>
			<h4>Business</h4>
			<a href="/discussions/categories/business">View All Discussions on Business</a>
		</div>
		<div class="line"></div>
		<div class='list'>
			<h4>Food</h4>
			<a href="/discussions/categories/food">View All Discussions on Food</a>
		</div>
		<div class="line"></div>
		<div class='list'>
			<h4>Entertainment</h4>
			<a href="/discussions/categories/entertainment">View All Discussions on Entertainment</a>
		</div>
	</div>
</div>